doctype html
html(lang="en")
  head
    title -
  body
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/teztura.css')
    link(rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")

    include properties

    #properties
        
    #editor
      select(data-bind="options: renderers, value: renderer, optionsText: 'name'")
    
      .document-view
    
      #webgl
    
    script(src='lib/jquery.min.js')
    script(src='lib/jquery.mousewheel.min.js')
    script(src='lib/bootstrap.js')
    script(src='lib/three.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js')
    script(src='main.bundle.js')
