script(type='text/html', id='tpl-prop-number')
  .prop-number
    input(type="number" step="any" value='0')
    label
    span.slider-bg
      span.slider-bar

script(type='text/html', id='tpl-prop-bool')
  .prop-bool
    span.check
    label

script(type='text/html', id='tpl-prop-choice')
  .dropdown.prop-choice
    label
    .value(data-toggle="dropdown")
    .clear
    .dropdown-menu.pull-right(role="menu")

script(type='text/html', id='tpl-stack-menu')
  div
    .dropdown.select
      button(data-toggle="dropdown") Add (+)
      ul.dropdown-menu(role="menu")
        