/* Put your CSS here */
body {
    margin: 20px;
}

.document-view {
	padding: 60px;
	border: 1px solid #ddd;
	text-align: center;
}

.document-view canvas {
    border: 1px solid #000;
}

#tools {
}

#palette {
	cursor:crosshair;
}
