
@import "elements.less";

@color-back: #111;
@color-back2: lighten(@color-back, 8%);
@color-back3: lighten(@color-back, 15%);
@color-front: lighten(@color-back, 50%);
@color-highlight: red;

@import url(http://fonts.googleapis.com/css?family=Roboto);

.light-grad(@basecol, @amount:10%) {
  .gradient(@basecol, @basecol, lighten(@basecol, @amount));  
}

.clearfix {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.clear {
  clear: both;
}

body {
  background-color: @color-back;
  color: @color-front;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}


.property-group {
  margin: 4px;

  > h1 {
    font-size: 120%;
    margin: 8px;
    text-align: left;
  }
}

.property {
  .clearfix;
  .drop-shadow(@blur: 6px, @alpha: 0.75);
  background-color: @color-back2;
  padding: 4px;
  margin-top: 2px;
  label {
    font-weight: normal;
    margin-bottom: 1px;
  }
}

.prop-gradient {
  .gradient(@color-highlight, darken(@color-highlight, 10%), @color-highlight);
  //.rounded(4px);
}

.prop-number {
  span {
    .user-select(none);
    height: 8px;
    display: block;
  }

  input {
    float: right;
    background: none;
    width: 50px;
    border: none;
    margin: 0;
    padding: 0;
  }

  .slider-bg {
    margin-top: 2px;
    background-color: @color-back;
  }
  .slider-bar {
    .prop-gradient;
  }
}

.prop-bool {
  .check {
    border: 1px solid black;
    display: block;
    float: right;
    width: 13px;
    height: 13px;
    margin-top: 4px;
    .prop-gradient;
  }
}

.prop-bool.false {
  color: darken(@color-front, 10%);
  .check {
    background: @color-back;
  }
}

.prop-choice {
  .value {
    float: right;
  }
  .dropdown-menu {
    .rounded(0);
    width: 100px;
    padding: 2px;
    background-color: @color-back3;

    button {
      min-width: 100%;
    }
  }
}

button {
  .light-grad(@color-back2);
  .box-shadow(
    inset 0px 1px 1px  lighten(@color-back2, 20%)
    ;);

  padding: 0 6px 0 6px !important;
  border: 1px solid black;

  &:hover {
    .light-grad(lighten(@color-back2, 5%));
  }
  &:active {
    .light-grad(darken(@color-back2, 4%));
  }
}

.dropdown {
  .dropdown-menu {
    .rounded(3px);
    background-color: @color-back3;
    padding: 0;
  }

  li {
    font-size: 90%;
    .user-select(none);
    cursor: pointer;
    padding: 2px 6px 2px 6px;
  }
  li:hover {
    color: lighten(@color-front, 20%);
    background: darken(@color-back3, 5%);
  }

}
